* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vertical-nav {
  min-width: 13rem;
  width: 15rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1cc88a;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, #1cc88a),
    to(#13855c)
  );
  background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
  background-size: cover;
  transition: all 0.2s;
}

.dropdown-toggle::after {
  content: none !important;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -17rem;
}

.text-gray {
  color: #5a5c69 !important;
}

#content.active {
  width: 100%;
  margin: 0;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-xs {
  font-size: 0.7rem;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.nav-link {
  text-transform: capitalize;
  padding-right: 0;
}

.nav-link:hover {
  background: white;
}

.nav-link:hover .text-primary {
  color: #008000 !important;
}

.nav-item .text-light:hover {
  color: #008000 !important;
}

.text-primary {
  color: white !important;
}

.banner-img {
  background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#tabs{
  position: absolute;
  top: 5rem;
  left: 50rem;
}

@media (max-width: 768px) {
.action {
  font-size: medium !important;
}
  #content {
    width: 100%;
    margin: 0;
  }

  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }

  #tabs {
    position: absolute;
    top: 20rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
  }
  #tabItem {
    margin-left: 0 !important;
    margin-bottom: 2rem;
  }
}
